@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ;

}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #0D1117 0%, #1B255E 53.12%, #0D1117 96.35%);
  background-repeat: no-repeat;
  color: #C3CCD9;
  line-height: 1.4;
  font-size: 2.25rem;


}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: 0.1em;
  text-align: left;

}

.logo {}

nav {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #C3CCD9;

}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.35rem;
  line-height: 21px;

}

nav li {
  margin-right: 1.25em;
}

a {
  text-decoration: none;
  color: #C3CCD9;
  text-decoration: inherit;
}

.hero-para {
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.83em;
  text-align: left;
  color: #51DDE8;


}